<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.4.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Ansuria.XFGloss" version="1.0.6.59" targetFramework="portable45-net45+win8+wpa81" />
  <package id="AutoMapper" version="6.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.NETCore.Targets" version="2.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross" version="5.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Binding" version="5.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Core" version="5.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Forms" version="5.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Platform" version="5.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.FieldBinding" version="5.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.Messenger" version="5.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugins.Validation" version="2.1.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugins.Validation.ForFieldBinding" version="2.1.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.ReactiveUI.Interop" version="3.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.StarterPack" version="5.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="NControl" version="0.9.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="NControl.Controls" version="0.9.4.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="NGraphics" version="0.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Plugin.FirebasePushNotification" version="1.0.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="reactiveui" version="7.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="reactiveui-core" version="7.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="refit" version="3.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="runtime.native.System" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Globalization" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.IO" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Linq" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Reflection" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.DeviceInfo" version="3.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.Settings" version="3.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.4.270" targetFramework="portable45-net45+win8+wpa81" />
</packages>