<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>304418445945-535e9nh8b0edo9sdbap6ct79vbtnndki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304418445945-535e9nh8b0edo9sdbap6ct79vbtnndki</string>
	<key>API_KEY</key>
	<string>AIzaSyBlHv_n2P6LEnqA8ZopHqprpOMYf3plUI4</string>
	<key>GCM_SENDER_ID</key>
	<string>304418445945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usal.bisite.bulltect</string>
	<key>PROJECT_ID</key>
	<string>bullytect</string>
	<key>STORAGE_BUCKET</key>
	<string>bullytect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304418445945:ios:54ebb56f5fb1d556</string>
	<key>DATABASE_URL</key>
	<string>https://bullytect.firebaseio.com</string>
</dict>
</plist>